@import "../styles/variables.scss";

.btn {
    border: 1px solid var(--White);
    background-color: transparent;
    font-family: "karla";
    font-weight: 700;
    font-size: 0.82rem;
    color: var(--White);
    padding: 10px;
    transition: all 0.4s ease-in-out;
    width: 150px;
    @media screen and (min-width: $tablet) {
        padding: 12px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--White);
        color: var(--Black);
    }
}
.bigger {
    font-size: 1.25rem;
    @media screen and (min-width: $tablet) {
        border: 1px solid var(--Black);
        color: var(--Black);
        font-size: 0.82rem;
    }
    &:hover {
        background-color: var(--Black);
        color: var(--White);
    }
}
